@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/material-symbols-rounded-latin-full-normal.woff2)
    format('woff2');
}

body {
  overflow: auto !important;

  --ag-icon-button-active-color: rgba(3, 24, 58, 1);
  --ag-icon-button-active-background-color: rgba(3, 24, 58, 0.2);
  --ag-icon-button-active-indicator-color: rgba(3, 24, 58, 1);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
